body,html{
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #1e1e1e;
    overflow-x: hidden;

}
header{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: change 20s infinite ease-in-out;
}
@keyframes change{
    0%{
        background: 
    radial-gradient(circle, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.9) 90%),
    url(assets/images/headerbg.png) center/cover no-repeat;
    }
    50%{
        background: 
        radial-gradient(circle, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.9) 90%),
        url(assets/images/headerbg2.png) center/cover no-repeat;
    }
    100%{
        background: 
        radial-gradient(circle, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.9) 90%),
        url(assets/images/headerbg3.png) center/cover no-repeat;
    }

}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}
.menud:hover{
    cursor: pointer;
}
#talk{
    background-color: #d4904c;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.25em;
    border: none;
    border-radius: 10%;
    height: 64px;
    width: 150px;
}
#talk:hover{
    background-color: #e1852a;
    cursor: pointer;
}
.head p{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.625em;
}
.language{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.mainhead h1{
    font-family: "didot", serif;
    text-align: center;
    font-size: 5.6em;
    font-weight: normal;
    margin: 0%;
}
.custom-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: -5px;
}

.custom-list li {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 0.625em;
    color: white;
}
.custom-list li::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(assets/images/bullet.png); 
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px; 
}
.vertical{
    writing-mode: vertical-rl; 
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 100px;
}
.following{
    display: flex;
    margin-top: 400px;

}
.follow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.follow p{
    writing-mode: vertical-rl;
}
.follow ul{
    list-style-type: none;
}
.follow li{
    margin-right:  37px;
    margin-bottom: 5px;
}
.custom-list2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: -5px;
}

.custom-list2 li {
    display: flex;
    align-items: center;
    margin-right: 10%;
    font-size: 0.9375em;
    color: white;
}
.custom-list2 li::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(assets/images/arrow.png); 
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px; 
}
.categories{
    padding: 5%;
    display: flex;
    background-color: rgba(0, 0, 0,0.3);
    width: 100%;
}
.item-1{
    width: 70%;
    display: flex;
}
.item-3{
    display: flex;
    border-bottom: 2px solid #d4904c;
    width: 155px;
    margin-top: 20px;
}
.item-3 a{
    color: #d4904c;
    text-decoration: none;
    
}

.item-2{
    display: flex;
    justify-content: right;
}
.searchdiv{
    border-bottom: 2px solid #d4904c;
    width: 170px;
    height: 35px;
    align-self: center;
}
.item-2 input{
    border: none;
    background-color: transparent;
    height: 30px;
}
.item-2 ::placeholder{
    font-size: 1.5em;
    color: #d4904c;
}
.who{
    background-image: url(assets/images/bodybg.png);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8% 0%;
    position: relative;
    z-index: 2;
}
.more{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5%;
    background-color: black;
}
.who h2{
    color: #98A2C8;
    margin-left: 5%;
    font-size: 1.5em;
    font-weight: normal;
}
.who h1{
    font-family: "didot", serif;
    font-size: 5em;
    font-weight: normal;
    margin-bottom: 10px;
}
.who i{
    font-style: normal;
    color: #d4904c;
}
.more p{
    text-transform: capitalize;
    margin-bottom: 30px;
}
.img2{
    position: absolute;
    width: 243px;
    height: 649px;
    top: 50px;
    right: 450px;
}
.img1{
    position: absolute;
    width: 713px;
    height: 714px;
    top: 250px;
    right: -250px;
}
.images{
    position: relative;
    display: block;
    height:800px;
}
.dates{
    position: absolute;
    width: 935.2px;
    height:876.4px;
    top:-300px;
    z-index: 0;
}
.big{
    position: absolute;
    width: 686.7px;
    height: 597.1px;
    top: -10px;
    right: 20px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(218, 130, 16, 0.2), 0 6px 20px 0 rgba(238, 198, 18, 0.19);
}
.small1{
    position: absolute;
    top: 50px;
    right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    width: 255px;
    height: 220px;
}
#image1{
    transition: 1.5s ease-in-out;
}
#image2{
    transition: 1.5s ease-in-out;
}
#image3{
    transition: 1.5s ease-in-out;
}
.small3{
    position: absolute;
    top: 300px;
    right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    width: 255px;
    height: 220px;
}
.small2{
    position: absolute;
    top: 550px;
    right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    width: 255px;
    height: 220px;
}
.news{
    padding: 5%;
    position: relative;
    font-style: normal;
}
.new1{
    z-index: 1;
    height: 350px;
    padding-left: 3%;
    padding-bottom: 5%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background:radial-gradient(circle, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.9) 90%),
    url(assets/images/new1.png) center/cover no-repeat;
}
.new2{
    padding-left: 3%;
    padding-bottom: 5%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background:radial-gradient(circle, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.9) 90%),
    url(assets/images/new2.png) center/cover no-repeat;
}
.new3{
    padding-left: 3%;
    padding-bottom: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background:radial-gradient(circle, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.9) 90%),
    url(assets/images/new3.png) center/cover no-repeat;
}
.newsImages{
    display: flex;
    width: 100%;
    z-index: 1;
}
.newsImages p{
    opacity: 0.55;
}
.news1-2{
    width: 70%;
    margin-right: 20px;
}
.newsImg{
    position: absolute;
    top: 30px;
    left: 20px;
}
.news h1{
    font-family: "didot", serif;
    font-size: 5em;
    font-weight: normal;
    font-style: normal;
}
.news i{
    color: #d4904c;
    font-style: normal;
}
.blue{
    font-size: 1.5em;
    color: #98A2C8;
}
.our{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.news a{
    font-size: 1.5em;
    color: #d4904c;
}
.newsImages h1{
    font-size: 3em;
    margin-bottom: 5px;
}
.newsImages p{
    font-size: 1.5em;
}
.info{
    display: flex;

}
footer{
    display: flex;
    flex-direction: column;
    background-color: #0d0d0d;
    padding: 3%;
    position: relative;
    font-style: normal;
}
.submit{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
footer ul{
    list-style-type:none;
    margin-left: -40px;
    margin-top: 60px;
    font-family: "didot", serif;
}
footer a{
    text-decoration: none;
    color: white;
}
.upfoot{
    display: flex;
    justify-content: space-around;
}
footer li{
    margin-top: 20px;
}
footer p{
    font-family: "didot", serif;
}
footer [type="email"]{
    width: 300px;
    height: 60px;
    background-color: transparent;
    border-color: #d4904c;
    border-radius: 10px;
    padding-left: 10px;
    margin: 30px 0px;
    font-size: 1em;
    color: white;
}
footer [type="submit"]{
    border: none;
    background-color: #d4904c;
    font-weight: bold;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 1em;
}
footer [type="submit"]:hover{
    background-color: #e1852a;
}
footer [type="email"]::placeholder{
    color: white;
}
.fbg{
    position: absolute;
    bottom:0px;
    right: 0px;
    width: 700px;
    height: 300px;
    z-index: 0;
}
.item-2 a{
    font-style: normal;
    text-decoration: none;
    color:#d4904c;
    font-size: 1em;
}
.newsIm1{
    position:absolute;
    left: 20px;
    top: 200px;
    z-index: 0;
}
.newsIm2{
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 0;
}
p span.text-in{
	display: block;
	animation: textIn .5s ease;
}
 p span.text-out{
	animation: textOut .5s ease;
}
@keyframes textIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);

	}
}
.animate-text span{
    font-size: 20px;
    color:#d4904c;
    font-weight: 700;
    display: inline-block;
    line-height: 46px;
    display: none;
}
.dropdown{
    min-width: 7em;
    position: relative;
    margin: 2em;
}
.dropdown *{
    box-sizing: border-box;
}
.select{
    background: transparent;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:2px #2a2f3b transparent;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}
.select-clicked{
    border: 2px #d4904c solid;
    box-shadow: 0 0 0.8em #d4904c;
}
.select:hover{
    background-color: #323741;
}
.caret{
    width:0;
    height: 0;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caret-rotate{
    transform:rotate(180deg);
}
.menu{
    list-style:none;
    padding: 0.2em 0.5em;
    background: #323741;
    border:1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius:0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 3;
}
.menu li{
    padding:0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor:pointer;
}
.menu li:hover{
    background: #2a2d35;
}
.active{
    background-color: #23242a;
}
.menu-open{
    display: block;
    opacity: 1;
}
.selected{
    color: #d4904c;
}
.selecty{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.svg{
    transform: translateY(-40%);

}
.shape{
    opacity: 0.4;
}
.shape:hover{
    opacity: 1;
    cursor: pointer;
}

.shape-clicked{
    opacity: 1;
}
